@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700,800|Montserrat:900&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.7px white;
    color: white;
    font-variant-caps: small-caps;
}

.Baner {
    background-color: rgba(0, 0, 0, 0.25)!important;
}

.Safe {
    background-color: rgba(0, 255, 55, 0.75)!important;
}

.Safe:hover {
    background-color: rgba(0, 255, 55, 1)!important;
}

.Suspicious {
    background-color: rgba(233, 142, 6, 0.75)!important;
}

.Suspicious:hover {
    background-color: rgba(233, 142, 6, 1)!important;
}

.Avoid {
    background-color: rgba(255, 0, 0, 0.75)!important;
}

.Avoid:hover {
    background-color: rgba(255, 0, 0, 1)!important;
}

.Forbidden {
    background-color: rgba(0, 0, 0, 0.75)!important;
    color: white;
}

.Forbidden:hover {
    background-color: rgba(0, 0, 0, 1)!important;
}